.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.fov-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 10px;
  color: #213970;
}

.fov-frame {
  position: relative;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background-color: #151515;
  overflow: hidden; /* Prevents planes from flying outside */
}

.message-box {
  position: absolute;
  top: 50%;
  left: 52%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pill-title {
  margin-top: 15px;
  font-size: 18px;
  color: #213970;
}

.exposure-pill-container {
  width: 80%;
  max-width: 600px;
  height: 25px;
  background-color: #131f3a;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 10px;
}

.exposure-pill {
  height: 100%;
  background-color: #ffffff3a;
  transition: width 0.5s;
}

.message {
  padding: 10px;
}
